---
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Countdown from "../../sections/Countdown.svelte";

const search = Astro.url.search;

const searchParams = new URLSearchParams(search);
const dateParams = searchParams.get("date");
const title = searchParams.get("title");
---

<Layout title="AddiCountdown | Count the days to...">
  <Header />
  <main
    class="min-h-screen w-full flex justify-center items-center animate-fade-in"
  >
    <Countdown title={title!} dateParams={dateParams!} client:only />
  </main>
</Layout>
