---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Events from "@/sections/Events.astro";
---

<Layout title="AddiCountdown | Count the days to...">
  <Header />
  <main class="pt-16 w-full md:p-8 p-4">
    <Events />
  </main>
</Layout>
